
header {
    position: relative;
    height: 40px;
    background: #FAFAFA;
    background-size: 100% 100%;
    
}
header h1 {
    font-size: 1.3rem;
    color: #0a1f5d;
    text-align: center;
    line-height: 40px;
}
header .show-time {
    position: absolute;
    top: 0;
    right: 0.375rem;
    line-height: 55px;
    color: #0a1f5d87;
    font-weight: bold;
    font-size: 0.7rem;
} 

.mainbox {
    display: flex;
    min-width: 1024px;
    max-height: 1920px;
    margin: 0 auto;
}
.mainbox .column {
    flex: 3;
}
.mainbox .column:nth-child(2) {
    flex: 5;
    overflow: hidden;
}
.wordcloud,.hot{
    position: relative;
    height: 260px;
    border: 1px solid rgba(25, 186, 139, 0.17);
    background-color: #f3f2f26c;
    margin-top: 8px;
    padding: 20px;
    padding-top: 5px;
}
.mainbox .hot::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #24419a;
    border-top: 2px solid #24419a;
    content: '';
}
.mainbox .hot::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #24419a;
    border-top: 2px solid #24419a;
    content: '';
}

.mainbox .xixi{
    position: relative;
    height: 170px;
    margin-left: 8px;
    margin-top: 8px;
}
.mainbox .lala{
    position: relative;
    height: 170px;
    background-color: #f3f2f26c;
    border: 1px solid rgba(25, 186, 139, 0.17);
    margin-left: 8px;
    margin-top: 8px;
}
.mainbox .lala::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #24419a;
    border-top: 2px solid #24419a;
    content: '';
}
.mainbox .lala::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #24419a;
    border-top: 2px solid #24419a;
    content: '';
}

#map{
    width: 700px;
    height: 400px;
    top:-70px;
}

.container-custom{
    position: relative;
    height: 170px;
    border: 1px solid rgba(25, 186, 139, 0.17);
    margin-top: 10px;
    top: -45px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: azure;
} 

#midbarChart{
  margin: 0 auto;
  width: 100%;
  height: 114%;
  scale: 1.05;
  margin-top: -20px;
}

#container {
    width: 100%;
    text-align: center;
}

#continentSelect {
/* select {*/
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    background-color: azure;
    border: 3px solid #1e80b8bb;
    border-radius: 8px; 
} 

#countryList {
/* ul {*/
    width: 80%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: left;
    max-height: 125px;
    overflow-y: auto;
} 
.list-country {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
} 
#barChart, #pieChart {
    width: 100%;
    height: 100%;
}

.wordcloud{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 10;
}

#tagbox {
    width: 200px;
    height: 200px;
    position: relative;
    scale: 0.55;
}
#tagbox span {
    position: absolute;
    white-space: nowrap;
    transition: font-size 0.5s, color 0.5s;
}