<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="theme-color" content="#007397">
    <meta name="csrf-token" content="PgRAtpYHms9F2Oeqf25hTwol1T6cxZxp2haSvnjk" />
    <title>Anil K. Jain: H-index & Awards - Academic Profile | Research.com</title>
    <meta name="description"
        content="Discover the latest information about Anil K. Jain - D-Index & Metrics, Awards,  Achievements, Best Publications and Frequent Co-Authors" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Anil K. Jain: H-index & Awards - Academic Profile | Research.com" />
    <meta property="og:url" content="https://research.com/u/anil-k-jain" />
    <meta property="og:site_name" content="Research.com" />
    <meta property="og:description" content="" />
    <meta name="robots" content="index,follow" />

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <meta content="" name="keywords" />

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/chocolat.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800"
        rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="filer.css" rel="stylesheet">
</head>

<style>
    .rankings-filters {
        margin-left: 50px;
        /* 左边距为50像素 */
        margin-right: 50px;
        /* 右边距为50像素 */
    }

    .rankings-content {
        margin-left: 50px;
        /* 左边距为50像素 */
        margin-right: 50px;
        /* 右边距为50像素 */
    }
</style>

    <script type="application/ld+json">
        {
        "@context":"https:\/\/schema.org",
        "@type":"BreadcrumbList",
        "itemListElement":[
        {"@type":"ListItem","position":1,"item":{"name":"Home","@id":"https://research.com"}}
                ,{"@type":"ListItem","position": 2,"item":{"name":"Computer Science","@id":"https://research.com/scientists-rankings/computer-science" } }
                ]}
</script>
    <script
        type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Person","name":"Anil K. Jain","url":"https:\/\/research.com\/u\/anil-k-jain","email":"jain@egr.msu.edu"}</script>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">

    <link rel="canonical" href="https://research.com/u/anil-k-jain">

    <link rel="preconnect" href="https://s.research.com" crossorigin>
    <script>
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.init = false;
    </script>

    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/common.3c5aaf0f.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/slide.c40c5947.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/throttle.a267e193.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/scrollToEl.c8d0887b.js" />
    <script type="module" src="https://s.research.com/website/1084101661/build/assets/common.3c5aaf0f.js"></script>
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/scientist.b65aa131.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/glide.esm.699249e3.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/highcharts.3f733b74.js" />
    <link rel="modulepreload"
        href="https://s.research.com/website/1084101661/build/assets/tableOfContent.f0ab8c1c.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/scrollToEl.c8d0887b.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/slide.c40c5947.js" />
    <link rel="modulepreload" href="https://s.research.com/website/1084101661/build/assets/snackbar.16e642ba.js" />
    <link rel="modulepreload"
        href="https://s.research.com/website/1084101661/build/assets/_commonjsHelpers.b8add541.js" />
    <script type="module" src="https://s.research.com/website/1084101661/build/assets/scientist.b65aa131.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8694608620080302"
        crossorigin="anonymous">
        </script>
    <script defer type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = 'https://www.clarity.ms/tag/' + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, 'clarity', 'script', 'ffq347geb3');
    </script>
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-03ESCQPCRG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-03ESCQPCRG');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PLXGG22');
    </script>
    <!-- End Google Tag Manager -->
    <link rel="preload" as="style"
        href="https://s.research.com/website/1084101661/build/assets/scientist.81bdf4e2.css" />
    <link rel="stylesheet" href="https://s.research.com/website/1084101661/build/assets/scientist.81bdf4e2.css" />
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    
    <!-- End Google Tag Manager (noscript) -->

    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({ "event": "page_info", "type": "profile", "categories": [], "hub": null, "directory": "u", "subdirectory": "anil-k-jain" });
    </script>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="hidden">
        <defs>
            <symbol id="svg-arrow-down" viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                xml:space="preserve">
                <g>
                    <g>
                        <polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		" />
                    </g>
                </g>
            </symbol>
            <symbol id="svg-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 21">
                <path
                    d="M2.9375 7.25H0.5V10.625H2.9375V20.75H7V10.625H9.925L10.25 7.25H7V5.81563C7 5.05625 7.1625 4.71875 7.89375 4.71875H10.25V0.5H7.1625C4.2375 0.5 2.9375 1.85 2.9375 4.38125V7.25Z"
                    fill="#007397" />
            </symbol>
            <symbol id="svg-linkedin" viewBox="0 0 512 512">
                <path
                    d="m475.074219 0h-438.148438c-20.394531 0-36.925781 16.53125-36.925781 36.925781v438.148438c0 20.394531 16.53125 36.925781 36.925781 36.925781h438.148438c20.394531 0 36.925781-16.53125 36.925781-36.925781v-438.148438c0-20.394531-16.53125-36.925781-36.925781-36.925781zm-293.464844 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0"
                    fill="#007397" />
            </symbol>
            <symbol id="svg-google-scholar" viewBox="0 0 800 800">
                <path d="M400,621.17,35,324,400,35Z" transform="translate(0 0)" />
                <path class="cls-2" d="M400,621.17,765,324,400,35Z" transform="translate(0 0)" />
                <circle class="cls-3" cx="400" cy="552.08" r="212.92" />
                <path class="cls-4" d="M207.57,460.83a213,213,0,0,1,384.86,0Z" />
            </symbol>
            <symbol id="svg-twitter" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 18">
                <path
                    d="M7.59018 18C15.7981 18 20.2867 11.364 20.2867 5.60994C20.2867 5.42141 20.2828 5.23384 20.2739 5.04699C21.1451 4.43238 21.9026 3.66519 22.5 2.79228C21.7005 3.13893 20.8401 3.37237 19.9374 3.47762C20.8587 2.93857 21.5662 2.08545 21.8999 1.06865C21.0375 1.56764 20.0826 1.93022 19.0664 2.12576C18.2518 1.2794 17.0921 0.75 15.809 0.75C13.3444 0.75 11.3458 2.7003 11.3458 5.1042C11.3458 5.44603 11.3852 5.7782 11.4614 6.0971C7.75295 5.91532 4.46434 4.18228 2.26369 1.5476C1.88001 2.19094 1.65911 2.93881 1.65911 3.73617C1.65911 5.24687 2.447 6.58063 3.64504 7.36109C2.91305 7.33912 2.22535 7.14262 1.62398 6.81624C1.62299 6.83434 1.62299 6.85269 1.62299 6.87176C1.62299 8.98091 3.16142 10.7417 5.20301 11.1407C4.82823 11.2404 4.43392 11.294 4.02674 11.294C3.73929 11.294 3.45975 11.266 3.18789 11.2156C3.75586 12.9455 5.40338 14.2046 7.35666 14.2401C5.82911 15.4083 3.90503 16.1043 1.81446 16.1043C1.45453 16.1043 1.09929 16.0842 0.75 16.0439C2.7248 17.2789 5.06967 18 7.59018 18Z"
                    fill="#007397" />
            </symbol>
        </defs>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="hidden">
        <defs>
            <symbol id="svg-location" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path d="M12,0C7.802,0,4,3.403,4,7.602c0,6.243,6.377,6.903,8,16.398c1.623-9.495,8-10.155,8-16.398C20,3.403,16.199,0,12,0z M12,11
                c-1.657,0-3-1.343-3-3s1.342-3,3-3s3,1.343,3,3S13.657,11,12,11z" fill="#007397" />
            </symbol>
            <symbol id="svg-hindex" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="st0" d="M7,19H1V8h6V19z M15,1H9v18h6V1z M23,12h-6v7h6V12z M24,21H0v2h24V21z" />
            </symbol>
            <symbol id="svg-experience" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 420 420.00339"
                style="enable-background:new 0 0 420 420.00339;" xml:space="preserve">
                <g>
                    <rect x="59.95343" y="141.79871" class="st0" width="300.09314" height="40.92179" />
                    <path class="st0" d="M169.0782,107.69721c0-3.76482,3.05548-6.8203,6.8203-6.8203h68.203c3.76482,0,6.8203,3.05548,6.8203,6.8203
        v20.4609h27.2812v-27.2812c0-15.05927-12.22192-27.2812-27.2812-27.2812h-81.8436c-15.05927,0-27.28119,12.22192-27.28119,27.2812
        v27.2812h27.28119V107.69721z" />
                    <path class="st0"
                        d="M46.31283,210.00169l27.2812,136.40596h272.81195l27.28119-136.40596H46.31283z M229.09717,247.13702
        c0,10.37949-8.55534,18.79163-19.09717,18.79163s-19.09717-8.41214-19.09717-18.79163v-9.85414h38.19434V247.13702z" />
                </g>
            </symbol>
            <symbol id="svg-publications" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                xml:space="preserve">
                <path class="st0" d="M5.485,3.567l6.488-3.279C12.421,0.089,12.877,0,13.317,0c1.863,0,3.477,1.629,3.287,3.616L8.723,8.112
                C8.841,6.024,7.55,4.077,5.485,3.567z M22,14.479c0,1.08-0.523,2.185-1.502,2.827c-0.164,0.107,0.84-0.506-7.997,5.065
                c0.02-0.91-0.293-1.836-1.061-2.71c-1.422-1.623-8.513-9.85-8.531-9.873C2.263,8.976,2,8.217,2,7.563
                c0-2.167,2.891-3.172,4.274-1.129c0.799,1.18,0.528,3.042-0.632,3.799l1.083,1.354l8.855-5.069c1.213,1.478,4.834,4.909,5.762,6.045
                C21.786,13.107,22,13.788,22,14.479z M9.386,14.229l6.883-4.062L15.551,9.43l-6.83,4.031L9.386,14.229z M17.922,11.87l-0.717-0.738
                l-6.951,4.101l0.665,0.768L17.922,11.87z M19.562,13.559l-0.716-0.737l-7.07,4.171l0.665,0.769L19.562,13.559z M7.78,18.5
                c-2.148,1.09-2.38,3.252-1.222,4.598C7.103,23.73,7.823,24,8.501,24c1.476,0,2.821-1.337,1.567-2.877
                C8.768,19.524,7.78,18.5,7.78,18.5z" />
            </symbol>
            <symbol id="svg-authors" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="st0" d="M20.997,18H9.003l-0.002-0.623c0-1.259,0.1-1.986,1.588-2.33c1.684-0.389,3.344-0.736,2.545-2.209
                C10.768,8.475,12.46,6,15,6c2.491,0,4.226,2.383,1.866,6.839c-0.775,1.464,0.826,1.812,2.545,2.209C20.9,15.392,21,16.12,21,17.381
                L20.997,18z M3.002,18h4.501c-0.021-4.906,2.246-2.772,2.246-6.676C9.749,9.817,8.766,9,7.501,9c-1.869,0-3.169,1.787-1.399,5.129
                c0.581,1.099-0.619,1.359-1.909,1.657C3.074,16.044,3,16.591,3,17.537C3,17.537,3.002,18,3.002,18z" />
            </symbol>
            <symbol id="svg-arrow" width="13" height="18">
                <path fill="#007397" fill-rule="evenodd"
                    d="M.539 2.172L2.9-.001l9.223 8.685L2.9 17.372.539 15.2l6.95-6.516-6.95-6.512z" />
            </symbol>

        </defs>
    </svg>


    <div class="main-container">

        <div id="page-toc" class="page-toc">
            <a href="#tab-1" class="item">
                <svg>
                    <use xlink:href="#svg-hindex"></use>
                </svg>
                <span class="title">D-Index & Metrics</span>
            </a>
            <a href="#tab-2" class="item">
                <svg>
                    <use xlink:href="#svg-publications"></use>
                </svg>
                <span class="title">Best Publications</span>
            </a>
        </div>
        <div class="ads-margin">
            <ins class="adsbygoogle" data-ad-client="ca-pub-8694608620080302" data-ad-slot="2241045838"
                style="display:block"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <ul class="breadcrumbs">
            <li><a href="/" title="Homepage">Home</a></li>
            <li><a href="/scientists-rankings/computer-science" title="Best Scientists">Best Scientists
                    - Computer Science</a></li>
            <li>Anil K. Jain</li>
        </ul>

        <div class="profile-head cols wrap space-between">
            <div class="profile-head__info col col--7-12 col--tablet py-0 flex wrap align-center">
                <img src="https://s.research.com/images/2a967b4499197336b91a5320a50e13c0f8b608f6-120x120.jpeg"
                    onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Anil K. Jain"
                    width="135" height="135" />
                <div class="profile-head__info__text">
                    <h1>Anil K. Jain</h1>
                    <div class="profile-head__info__location">
                        <svg>
                            <use xlink:href="#svg-location"></use>
                        </svg>
                        <p class="pl-ipad mb-0">
                            <a href="/university/computer-science/michigan-state-university">
                                Michigan State University
                            </a> <br />
                            <a href="/scientists-rankings/computer-science/us">
                                United States
                            </a> <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col--5-12 col--tablet">
                <div class="profile-badges flex">
                    
                    
                </div>
            </div>
        </div>

        <div id="tab-1" class="tab profile-metrics bg-white shadow mb-0 first-section">
            <h2 class="metrics-header">
                <svg>
                    <use href="#svg-hindex"></use>
                </svg>
                <span class="with-tooltip">
                    D-Index & Metrics
                    <span class="tooltip">
                        D-index (Discipline H-index) only includes papers and citation values for an examined
                        discipline in contrast to General H-index which accounts for publications across all
                        disciplines.
                    </span>
                </span>
            </h2>
            <div class="tab-slide metrics-table pl">
                <div class="metrics-table__head flex wrap hide-tablet">
                    <span class="title">Discipline name</span>
                    <span class="with-tooltip">
                        D-index
                        <span class="tooltip">
                            D-index (Discipline H-index) only includes papers and citation values for an examined
                            discipline in contrast to General H-index which accounts for publications across all
                            disciplines.
                        </span>
                    </span>
                    <span>Citations</span>
                    <span>Publications</span>
                    <span>World Ranking</span>
                    <span>National Ranking</span>
                </div>
                <div class="metrics-table__row flex wrap">
                    <span class="title">Computer Science</span>
                    <span>
                        <span class="desc">D-index</span>
                        203
                    </span>
                    <span>
                        <span class="desc">Citations</span>
                        250,990
                    </span>

                    <span class="hide-tablet">
                        970
                    </span>

                    <span>
                        <span class="desc">World Ranking</span>
                        1
                    </span>
                    <span>
                        <span class="desc">National Ranking</span>
                        1
                    </span>
                </div>
                <div class="metrics-table__row flex wrap">
                    <span class="title">Best Scientists</span>
                    <span>
                        <span class="desc">D-index</span>
                        203
                    </span>
                    <span>
                        <span class="desc">Citations</span>
                        251,059
                    </span>

                    <span class="hide-tablet">
                        984
                    </span>

                    <span>
                        <span class="desc">World Ranking</span>
                        141
                    </span>
                    <span>
                        <span class="desc">National Ranking</span>
                        99
                    </span>
                </div>
            </div>
        </div>

        

        

        <div class="cols wrap">
            <div class="col col--4 col--tablet">
                

                <div class="tab bg-white shadow">
                    <h2>Overview</h2>
                    <div class="tab-slide">
                        <h2 id="best">What is he best known for?</h2>
                        <h3 id="concept">The fields of study Anil K. Jain is best known for:</h3>
                        <ul>
                            <li>Machine learning</li>
                            <li>Statistics</li>
                            <li>Computer vision</li>
                        </ul>
                        <p>Anil K. Jain integrates Artificial intelligence with Algorithm in his research.
                            In his works, Anil K. Jain undertakes multidisciplinary study on Algorithm and Artificial
                            intelligence.
                            His research on Pattern recognition (psychology) frequently connects to adjacent areas such
                            as Facial recognition system.
                            His study connects Pattern recognition (psychology) and Facial recognition system.
                            His Computer vision study frequently draws connections between related disciplines such as
                            Image (mathematics).
                            His studies link Computer vision with Image (mathematics).
                            Anil K. Jain integrates many fields, such as Statistics and Matching (statistics), in his
                            works.
                            In his study, he carries out multidisciplinary Matching (statistics) and Statistics
                            research.
                            His Fingerprint (computing) study frequently draws connections between related disciplines
                            such as Fingerprint recognition.</p>
                        <h3 id="cited">His most cited work include:</h3>
                        <ul>
                            <li>Data clustering (11812 citations)</li>
                            <li>Statistical pattern recognition: a review (5555 citations)</li>
                            <li>An Introduction to Biometric Recognition (3920 citations)</li>
                        </ul>
                        <h2 id="all">What are the main themes of his work throughout his whole career to date</h2>
                        <p>Anil K. Jain mostly deals with Artificial intelligence, Quantum mechanics, Organic chemistry,
                            Biochemistry and Computer vision.
                            Anil K. Jain combines topics linked to Artificial intelligence with his work on Pattern
                            recognition (psychology).</p>
                        <h3 id="concept">Anil K. Jain most often published in these fields:</h3>
                        <ul>
                            <li>Artificial intelligence (24.26%)</li>
                            <li>Quantum mechanics (18.57%)</li>
                            <li>Pattern recognition (psychology) (15.81%)</li>
                        </ul>
                        <h2 id="last">What were the highlights of his more recent work (between 2013-2022)?</h2>
                        <ul>
                            <li>Nuclear physics (22.08%)</li>
                            <li>Atomic physics (15.58%)</li>
                            <li>Ecology (14.29%)</li>
                        </ul>
                        <h3 id="concept">In recent works Anil K. Jain was focusing on the following fields of study:
                        </h3>
                        <p>Anil K. Jain spends much of his time researching Nuclear physics, Atomic physics, Ecology,
                            Quantum mechanics, Internal medicine, Biochemistry, Genetics, Pathology and Organic
                            chemistry.
                            His work blends Neutron and Nuclear physics studies together.</p>
                        <h3 id="works">Between 2013 and 2022, his most popular works were:</h3>
                        <ul>
                            <li>Global carbon budget 2014 (449 citations)</li>
                            <li>Global carbon budget 2013 (306 citations)</li>
                            <li>Direct and seasonal legacy effects of the 2018 heat wave and drought on European
                                ecosystem productivity (167 citations)</li>
                        </ul>
                        <h2 id="last_best">In his most recent research, the most cited works focused on:</h2>
                        <ul>
                            <li>Gene</li>
                            <li>Bacteria</li>
                            <li>Computer network</li>
                        </ul>
                        <p>His work on Quantum mechanics is typically connected to Artificial intelligence as part of
                            general Power (physics) study, connecting several disciplines of science.
                            His research brings together the fields of Power (physics) and Quantum mechanics.
                            In his works, he conducts interdisciplinary research on Ecology and Carbon cycle.
                            Anil K. Jain performs multidisciplinary study on Carbon cycle and Global warming in his
                            works.
                            Anil K. Jain conducted interdisciplinary study in his works that combined Global warming and
                            Climate model.
                            He integrates Climate model with Greenhouse gas in his study.
                            His work blends Greenhouse gas and Carbon sink studies together.
                            Anil K. Jain conducts interdisciplinary study in the fields of Carbon sink and Ecosystem
                            through his works.
                            In his study, he carries out multidisciplinary Ecosystem and Climate change research.</p>

                        
                    </div>
                </div>

                <div id="tab-2" class="profile-publications tab bg-white shadow">
                    <h2>
                        <svg>
                            <use href="#svg-publications"></use>
                        </svg>
                        Best Publications
                    </h2>
                    
                    
                    <div class="tab-slide flex wrap ">
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Data clustering: a review</p>
                            <p>
                                A. K. Jain;M. N. Murty;P. J. Flynn.<br>
                                <span>ACM Computing Surveys <strong>(1999)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            18924 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Algorithms for clustering data</p>
                            <p>
                                Anil K. Jain;Richard C. Dubes.<br>
                                <span> <strong>(1988)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            15940 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Fundamentals of digital image processing</p>
                            <p>
                                Anil K. Jain.<br>
                                <span> <strong>(1988)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            12948 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Data clustering: 50 years beyond K-means</p>
                            <p>
                                Anil K. Jain.<br>
                                <span>international conference on pattern recognition <strong>(2010)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            9862 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Statistical pattern recognition: a review</p>
                            <p>
                                A.K. Jain;R.P.W. Duin;Jianchang Mao.<br>
                                <span>IEEE Transactions on Pattern Analysis and Machine Intelligence
                                    <strong>(2000)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            8977 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">An introduction to biometric recognition</p>
                            <p>
                                A.K. Jain;A. Ross;S. Prabhakar.<br>
                                <span>IEEE Transactions on Circuits and Systems for Video Technology
                                    <strong>(2004)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            6974 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Handbook of Fingerprint Recognition</p>
                            <p>
                                Davide Maltoni;Dario Maio;Anil K. Jain;Salil Prabhakar.<br>
                                <span> <strong>(2005)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            6250 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Artificial neural networks: a tutorial</p>
                            <p>
                                A.K. Jain;Jianchang Mao;K.M. Mohiuddin.<br>
                                <span>computational science and engineering <strong>(1996)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            3835 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Biometrics: Personal Identification in Networked Society</p>
                            <p>
                                Anil K. Jain;Ruud Bolle;Sharath Pankanti.<br>
                                <span> <strong>(2013)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            3618 Citations
                        </div>
                        <div class="profile-publications__left">
                            <p class="ls mb-0">Fingerprint image enhancement: algorithm and performance evaluation</p>
                            <p>
                                Lin Hong;Yifei Wan;A. Jain.<br>
                                <span>IEEE Transactions on Pattern Analysis and Machine Intelligence
                                    <strong>(1998)</strong></span>
                            </p>
                        </div>
                        <div class="profile-publications__right">
                            3427 Citations
                        </div>
                    </div>
                </div>


                
                <div class="modal feedback-modal" id="feedback-modal">
                    <div class="modal-inner">
                        <div class="modal-close">
                            <span></span>
                            <span></span>
                        </div>
                        <h3>Report an issue</h3>
                        <p>We appreciate your kind effort to assist us to improve this page, it would be helpful
                            providing us with as
                            much detail as possible in the text box below:</p>
                        <form id="feedback-form"
                            data-url="https://research.com/scholar-profile-report-issue/anil-k-jain">
                            <div class="cols wrap-tablet">
                                <div id="email" class="col col--3 col--tablet">
                                    <label class="field ">
                                        <input type="text" id="email-field" required="required">
                                        <span class="label">Your email address</span>
                                        <span class="error"></span>
                                    </label>
                                </div>
                                <div id="name" class="col col--3 col--tablet">
                                    <label class="field ">
                                        <input type="text" id="name-field" required="required">
                                        <span class="label">Your name</span>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="issue">
                                <label class="field">
                                    <textarea id="issue-field" required></textarea>
                                    <span class="label">What needs to be changed</span>
                                    <span class="error"></span>
                                </label>
                            </div>
                            <button class="button button--blue">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
                <script>
                    window.onload = (() => {
                        const modal = document.getElementById('feedback-modal')
                        if (modal === null) {
                            return
                        }
                        document.addEventListener('click', function (event) {
                            const isClickInside = modal.querySelector('.modal-inner').contains(event.target),
                                isClickOnClose = modal.querySelector('.modal-close').contains(event.target),
                                calendars = document.querySelectorAll('.litepicker')
                            let isCalendarOpened = false

                            calendars.forEach((el) => {
                                if (el.classList.contains('opened')) {
                                    isCalendarOpened = true
                                    return
                                }
                            })

                            if (event.target.matches('[data-modal=feedback-modal]')) {
                                event.preventDefault()
                                modal.classList.add('show')
                                document.body.classList.add('no-scroll')
                            } else if ((!isClickInside || isClickOnClose) && !isCalendarOpened) {
                                modal.classList.remove('show')
                                document.body.classList.remove('no-scroll')
                            }
                        })
                    })
                </script>
            </div>
            <div class="col col--2 col--tablet">
                <div class="sidebar bg-white shadow">
                    
                    <div id="cited-by"
                        data-citations='[{"name":2019,"y":6774,"docs":42},{"name":2018,"y":6424,"docs":39},{"name":2017,"y":7050,"docs":25},{"name":2016,"y":7586,"docs":19}]'>
                    </div>

                    <h3>Frequent Co-Authors</h3>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/967a03c18fefaa058734f458ccb89115fa9c52cb-135x135.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Arun Ross"
                            width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/arun-ross">
                                    Arun Ross
                                </a>
                            </h4>
                            <p class="sh">Michigan State University</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/f5ceda3e56542c3a1d2b8e373166c02c8845e3e8-135x135.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Rong Jin"
                            width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/rong-jin">
                                    Rong Jin
                                </a>
                            </h4>
                            <p class="sh">Alibaba Group (China)</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/1ea249f3e9cbe41cae24d7ae2bfcf433b3686bf6-100x100.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'"
                            alt="Karthik Nandakumar" width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/karthik-nandakumar">
                                    Karthik Nandakumar
                                </a>
                            </h4>
                            <p class="sh">Mohamed bin Zayed University of Artificial Intelligence</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/28a4b5c9bc310b7cc6f4e5715e3fbbb6b97d78e0-135x135.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'"
                            alt="Sharath Pankanti" width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/sharath-pankanti-1">
                                    Sharath Pankanti
                                </a>
                            </h4>
                            <p class="sh">IBM (United States)</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload" src=""
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Salil Prabhakar"
                            width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/salil-prabhakar">
                                    Salil Prabhakar
                                </a>
                            </h4>
                            <p class="sh">Delta ID Inc.</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload" src=""
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Hu Han"
                            width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/hu-han">
                                    Hu Han
                                </a>
                            </h4>
                            <p class="sh">Chinese Academy of Sciences</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/69e32975b2e31f6ffa92708bf40c34a85ac8e41b-102x102.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Jianjiang Feng"
                            width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/jianjiang-feng">
                                    Jianjiang Feng
                                </a>
                            </h4>
                            <p class="sh">Tsinghua University</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/205af4805d5dddc5fe29de65f8f8f3fe02e0cd67-102x102.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'"
                            alt="Patrick J. Flynn" width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/patrick-j-flynn">
                                    Patrick J. Flynn
                                </a>
                            </h4>
                            <p class="sh">University of Notre Dame</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/7c24a77cb9f88037277878777dd6c801890ae2fe-126x126.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Nalini K. Ratha"
                            width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/nalini-ratha">
                                    Nalini K. Ratha
                                </a>
                            </h4>
                            <p class="sh">University at Buffalo, State University of New York</p>
                        </div>
                    </div>
                    <div class="sidebar-author">
                        <img class="lazyload"
                            src="https://s.research.com/images/0392a920cc21f4ef007de08de678e388d3c8e0c4-106x106.jpeg"
                            onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'"
                            alt="Mário A. T. Figueiredo" width="80" height="80" loading="lazy">
                        <div>
                            <h4>
                                <a href="/u/mario-a-t-figueiredo">
                                    Mário A. T. Figueiredo
                                </a>
                            </h4>
                            <p class="sh">Instituto Superior Técnico</p>
                        </div>
                    </div>


                    <h3>External Links</h3>
                    <ul>
                        <li>
                            <a href="https://scholar.google.com/citations?hl=pl&user=g-_ZXGsAAAAJ"
                                title="Google Scholar Profile" target="_blank" rel="noopener nofollow">
                                Google Scholar Profile
                            </a>
                        </li>
                        <li>
                            <a href="http://www.cse.msu.edu/~jain/" title="Personal Website for Anil K. Jain"
                                target="_blank" rel="noopener nofollow">
                                Personal
                                Website for Anil K. Jain
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        

        

    <div id="snackbar" class="snackbar">
        Something went wrong. Please try again later.
    </div>
    <footer class="footer">
        <div class="main-container">
            <div class="footer__top">
                <a href="/" title="Research.com">
                    <img src="https://s.research.com/website/1084101661/images/logo-dark.svg" loading="lazy"
                        class="lazyload" alt="Research.com Logo" width="190" height="22">
                </a>
                <div class="footer__socials">
                    <a href="https://www.facebook.com/guide2research/" title="Facebook" target="_blank"
                        rel="noopener nofollow">
                        <svg>
                            <use xlink:href="#svg-facebook"></use>
                        </svg>
                    </a> <a href="https://twitter.com/guide2research" title="Twitter" target="_blank"
                        rel="noopener nofollow">
                        <svg>
                            <use xlink:href="#svg-twitter"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <p>
                    Copyright © 2023 Research.com. All rights reserved. <br>
                    <span class="hidden"> Release: 1084101661 </span>
                </p>
                <div id="footer-menu" class="footer__menu">
                    <a href="/about-us" title="About">About</a>
                    <a href="/blog" title="Blog">Blog</a>
                    <a href="/contact-us" title="Contact">Contact</a>
                    <a href="/our-methodology" title="Methodology">Methodology</a>
                    <a href="/press" title="Press Room">Press Room</a>
                    <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>