<!DOCTYPE html>
<html>

<head>
    <title>Anil K. Jain</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <meta content="" name="keywords" />

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/chocolat.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800"
        rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="css/filer.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">
</head>


<body>
    <!--图形-->
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="hidden">
        <defs>
            <symbol id="svg-location" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path d="M12,0C7.802,0,4,3.403,4,7.602c0,6.243,6.377,6.903,8,16.398c1.623-9.495,8-10.155,8-16.398C20,3.403,16.199,0,12,0z M12,11
                    c-1.657,0-3-1.343-3-3s1.342-3,3-3s3,1.343,3,3S13.657,11,12,11z" fill="#007397"></path>
            </symbol>
            <symbol id="svg-hindex" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="st0" d="M7,19H1V8h6V19z M15,1H9v18h6V1z M23,12h-6v7h6V12z M24,21H0v2h24V21z"></path>
            </symbol>
            <symbol id="svg-experience" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 420 420.00339"
                style="enable-background:new 0 0 420 420.00339;" xml:space="preserve">
                <g>
                    <rect x="59.95343" y="141.79871" class="st0" width="300.09314" height="40.92179"></rect>
                    <path class="st0" d="M169.0782,107.69721c0-3.76482,3.05548-6.8203,6.8203-6.8203h68.203c3.76482,0,6.8203,3.05548,6.8203,6.8203
            v20.4609h27.2812v-27.2812c0-15.05927-12.22192-27.2812-27.2812-27.2812h-81.8436c-15.05927,0-27.28119,12.22192-27.28119,27.2812
            v27.2812h27.28119V107.69721z"></path>
                    <path class="st0"
                        d="M46.31283,210.00169l27.2812,136.40596h272.81195l27.28119-136.40596H46.31283z M229.09717,247.13702
            c0,10.37949-8.55534,18.79163-19.09717,18.79163s-19.09717-8.41214-19.09717-18.79163v-9.85414h38.19434V247.13702z"></path>
                </g>
            </symbol>
            <symbol id="svg-publications" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                xml:space="preserve">
                <path class="st0" d="M5.485,3.567l6.488-3.279C12.421,0.089,12.877,0,13.317,0c1.863,0,3.477,1.629,3.287,3.616L8.723,8.112
                    C8.841,6.024,7.55,4.077,5.485,3.567z M22,14.479c0,1.08-0.523,2.185-1.502,2.827c-0.164,0.107,0.84-0.506-7.997,5.065
                    c0.02-0.91-0.293-1.836-1.061-2.71c-1.422-1.623-8.513-9.85-8.531-9.873C2.263,8.976,2,8.217,2,7.563
                    c0-2.167,2.891-3.172,4.274-1.129c0.799,1.18,0.528,3.042-0.632,3.799l1.083,1.354l8.855-5.069c1.213,1.478,4.834,4.909,5.762,6.045
                    C21.786,13.107,22,13.788,22,14.479z M9.386,14.229l6.883-4.062L15.551,9.43l-6.83,4.031L9.386,14.229z M17.922,11.87l-0.717-0.738
                    l-6.951,4.101l0.665,0.768L17.922,11.87z M19.562,13.559l-0.716-0.737l-7.07,4.171l0.665,0.769L19.562,13.559z M7.78,18.5
                    c-2.148,1.09-2.38,3.252-1.222,4.598C7.103,23.73,7.823,24,8.501,24c1.476,0,2.821-1.337,1.567-2.877
                    C8.768,19.524,7.78,18.5,7.78,18.5z"></path>
            </symbol>
            <symbol id="svg-authors" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="st0" d="M20.997,18H9.003l-0.002-0.623c0-1.259,0.1-1.986,1.588-2.33c1.684-0.389,3.344-0.736,2.545-2.209
                    C10.768,8.475,12.46,6,15,6c2.491,0,4.226,2.383,1.866,6.839c-0.775,1.464,0.826,1.812,2.545,2.209C20.9,15.392,21,16.12,21,17.381
                    L20.997,18z M3.002,18h4.501c-0.021-4.906,2.246-2.772,2.246-6.676C9.749,9.817,8.766,9,7.501,9c-1.869,0-3.169,1.787-1.399,5.129
                    c0.581,1.099-0.619,1.359-1.909,1.657C3.074,16.044,3,16.591,3,17.537C3,17.537,3.002,18,3.002,18z">
                </path>
            </symbol>
            <symbol id="svg-arrow" width="13" height="18">
                <path fill="#007397" fill-rule="evenodd"
                    d="M.539 2.172L2.9-.001l9.223 8.685L2.9 17.372.539 15.2l6.95-6.516-6.95-6.512z"></path>
            </symbol>

        </defs>
    </svg>
    <!--/图形-->

    <div class="header inner_banner" id="home">
        <!--/top-bar-->
        <div class="top-bar">
            <div class="header-nav-agileits">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
                            data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="Home.html">CS Network</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="top_nav">
                                <li><a class="active" href="Home.html">Home</a></li>
                                <li><a href="CS Network Graph.html">CS Network Graph</a></li>
                                <li class="dropdown">
                                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                                        data-hover="Pages" data-toggle="dropdown" href="#"
                                        role="button">Distribution<span class="fa fa-angle-down"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="World.html">World</a></li>
                                        <li><a href="China.html">China</a></li>
                                    </ul>
                                </li>
                                <li><a href="Filter.html">Filter</a></li>
                                <li><a href="Paper Recommendation.html">Paper Recommendation</a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>

            </div>
        </div>
        <!--//top-bar-->
        <!--/ banner-text -->
        <!--// banner-text -->
    </div>
    <!--/short-->
    <div class="services-breadcrumb-w3ls-agile">
        <div class="inner_breadcrumb">
            <ul class="short">
                <li><a href="Home.html">Home</a><span>|</span></li>
                <li>Anil K. Jain</li>
            </ul>
        </div>
    </div>
    <!--//short-->

    <!--personal profile-->

    <div class="profile-head cols wrap space-between">
        <div class="profile-head__info col col--7-12 col--tablet py-0 flex wrap align-center">
            <img src="https://s.research.com/images/2a967b4499197336b91a5320a50e13c0f8b608f6-120x120.jpeg"
                onerror="this.onerror=null;this.src='/images/placeholder-scholar.svg'" alt="Anil K. Jain" width="135"
                height="135" />
            <div class="profile-head__info__text">
                <h1>Anil K. Jain</h1>
                <div class="profile-head__info__location">
                    <svg>
                        <use xlink:href="#svg-location"></use>
                    </svg>
                    <p class="pl-ipad mb-0">
                        <a href="/university/computer-science/michigan-state-university">
                            Michigan State University
                        </a> <br />
                        <a href="/scientists-rankings/computer-science/us">
                            United States
                        </a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div> 

    <!--/personal profile-->



    <!--footer-->
    <div class="contact-footer-w3layouts-agile">
        <div class="bottom-social-agileits-w3ls">
            <div class="container">
                <div class="col-md-8 botttom-nav-w3ls-agileits">
                    <ul class="f_links col-md-4">
                        <li>
                            <a href="Home.html">Home</a>
                        </li>
                        <li>
                            <a href="CS Network Graph.html">CS Network Graph</a>
                        </li>
                        <li>
                            <a href="World.html">World</a>
                        </li>
                        <li>
                            <a href="China.html">China</a>
                        </li>
                        <li>
                            <a href="Filter.html">Filter</a>
                        </li>
                    </ul>
                    <ul class="f_links col-md-4">
                        <li>
                            <a href="index.html">Topics</a>
                        </li>
                        <li>
                            <a href="404.html">Blog</a>
                        </li>
                        <li>
                            <a href="404.html">Careers</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                    </ul>
                    <ul class="f_links thrd col-md-4">
                        <li>
                            <a href="index.html">Topics</a>
                        </li>
                        <li>
                            <a href="404.html">Events</a>
                        </li>
                        <li>
                            <a href="app.html">Mobile App</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 social-icons-wthree">
                    <h6>Connect with us</h6>
                    <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="pinterest" href="#"><span class="fa fa-pinterest-p"></span></a>
                    <a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="copy-w3-agileits">
            <h2 class="footer-logo"><a href="Home.html">CS Network</a></h2>
            <p>Copyright &copy; 2018.Company name All rights reserved.</p>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--/footer -->

    <!-- js -->
    <script src="js/jquery-2.2.3.min.js" type="text/javascript"></script>
    <!-- //js -->
    <!--search-bar-->
    <script src="js/main.js"></script>
    <!--gallery -->
    <script src="js/jquery.chocolat.js"></script>
    <!--light-box-files -->
    <script type="text/javascript">
        $(function () {
            $('.gallery-grid1 a').Chocolat();
        });
    </script>
    <!-- //gallery -->
    <!--//search-bar-->
    <link href="css/easy-responsive-tabs.css " rel="stylesheet" type="text/css" />
    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js" type="text/javascript"></script>
    <script src="js/easing.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <script src="js/bootstrap-3.1.1.min.js" type="text/javascript"></script>

</body>

</html>